body {
    margin:0;
}

.container {
    background-color: rgb(63, 62, 62);
    padding:1rem;
    margin:2rem;
}

.draggable {
    flex: auto;
    background-color: white;
    padding:1rem;
    margin:1rem;
    justify-content: center;
    align-items: center;
    cursor:move;
}

.draggable.dragging {
    opacity: 0.5;
}